main{
    background-color: rgba(245, 248, 255);
    box-shadow: 0px 0.5px 2px rgba(198, 198, 198, 0.5);
}

/* -------------------------------------------Shared Styles--------------------------------------------- */
.btn-primary{
    color: white;
    background-color: rgb(78, 71, 255);
    font-size: 16px;
    font-weight: 700;
    padding: 12px 36px 12px 36px;
    
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.btn-primary:hover{
    color: black;
    background-color: orangered;
    transform: scale(1.1); 
}

.text-center{
    text-align: center;
}

/* ------------------------------------------- Navbar styles------------------------------------------- */
header{
    background-image:url('../assets/Hero-bg.png');
    width: auto;
    height: 700px;
    margin: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    color: rgb(78, 71, 255);
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-left: 150px;
    margin-top: 50px;
}

.nav-button{
    margin-right: 150px;
}

/* --------------------------------------------- Hero Styles ------------------------------------------ */

.hero-text{
    font-size: 65px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 268px;
    margin-right: 268px;
    margin-top: 120px;
}

/* ------------------------------------------------Action Styles--------------------------------------------- */
.action-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 116px;
    margin-left: 140px;
    margin-right: 150px;
    display: flex;
    gap: 250px;

    
}


.action-title{
    
    font-size: 42px;
    font-weight: 700;

}

.action-description{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
    font-weight: 400;
}


.action-img{
    border-radius: 48px;
    margin-left: 50px;
}


/* ----------------------------------- Product User section------------------------------------- */

.product-user-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 116px;
    margin-left: 140px;
    margin-right: 150px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    text-align: center;
    padding: 50px 80px 50px 80px;
}

.product-user-title{
    font-size: 38px;
    font-weight: 700;
}

.product-number-container {
    display: flex;
    gap: 158px;
    justify-content: center;
}

.product-numbers{
    font-size: 80px;
    font-weight: 700;
    color: rgb(78, 71, 255);;
}

.product-number-sub-main {
    display: flex;
    gap: 205px;
    justify-content: center;
}

.product-number-sub-des{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}

/* ----------------------------------------------Users Feedback Styles---------------------------------------- */
.users-feedback{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 116px;
    margin-left: 140px;
    margin-right: 150px;

}

.users-feedback-title{
    font-size: 42px;
    font-weight: 700;
}

.feedback-cards{
    display: flex;
    gap:20px;
    /* justify-content: center; */
}
.feedback-card{
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 24px;
    width: 366.67px;
    height: 243px;
}

.feedback-msg-title{
    font-size: 24px;
    font-weight: 600;
}
.feedback-msg{
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
}
.users-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
}

.user-name{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 600;
}

.date{
    margin-top: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    font-weight: 400;
}

/* ------------------------------------------- Focus Styles --------------------------------------------- */

.focus-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 130px;
    margin-left: 140px;
    margin-right: 150px;
    text-align: center;
    padding: 71px 150px 71px 150px;
    border-radius: 14px;
    background: rgb(255, 255, 255);
}

.focus-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
}

.focus-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

.focus-button{
    color: white;
    background-color: rgb(78, 71, 255);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 36px 12px 36px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.focus-button:hover{
    color: black;
    background-color: orangered;
    transform: scale(1.1); 
}

.focus-img{
    margin-top: 20px;
    border-radius: 48px;
    width: 840px;
    height: 364.77px;
}

/* ------------------------------------------- Contact Style -------------------------------------------- */
.contact-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 92px;
    margin-left: 140px;
    padding-top: 71px;
    padding-bottom: 71px;
    
}

.contact-info{
    display: flex;
    gap: 115px;
    justify-content: space-between;
}

.cotact-title{
    font-size: 97px;
    font-weight: 700;
}

div form label{
    font-size: 18px;
    font-weight: 500;

}

div form input{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: 497px;
    height: 70px;
    padding-left: 32px;
    margin: 10px 0px 19px 0px;
    font-size: 20px;
    font-weight: 400;
    
}

form textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: 497px;
    height: 135px;
    padding-left: 32px;
    padding-top: 24px;
    margin: 10px 0px 19px 0px;
    font-size: 20px;
    font-weight: 400;
    resize: none;
}

.form-button{
    margin-top: 14px;
    width: 528px;
    height: 62px;
    padding: 19px 101px 19px 101px
}

/* -------------------------------------------- Footer Styles ------------------------------------------- */

.footer-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 71px;
    margin-left: 140px;
    margin-right: 150px;
    text-align: center;
    padding-left: 330px;
    padding-right: 330px;
    padding-bottom: 104px;
}

.footer-logo{
    color: rgb(78, 71, 255);
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 0px;
}

.footer-description{
    margin-top: 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(137, 135, 161);
    margin-bottom: 30px;
    
}

footer a {
    text-decoration: none;
    color: rgb(137, 135, 161);
    margin-right: 35px;
}

footer a:hover{
    color: rgb(78, 71, 255);
}


